<div class="form-container">
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <h1 class="nunito-sans-bold">{{ isSignUp ? 'Sign Up' : 'Sign In' }}</h1>
    <div class="inputs-container">
      <label class="nunito-sans-semibold" for="email">Email</label>
      <input 
        class="nunito-sans-regular"
        type="text" 
        id="email" 
        placeholder="example@gmail.com"
        ngModel
        name="email"
        email
        required>
      <label class="nunito-sans-semibold" for="password">Password</label>
      <input 
        class="nunito-sans-regular"
        type="text" 
        id="password" 
        placeholder="password2024"
        ngModel
        name="password"
        required>
    </div>
    <button class="nunito-sans-bold" type="submit" [disabled]="!form.valid">{{ isSignUp ? 'Sign Up' : 'Sign In' }}</button>
    <p class="nunito-sans-regular">{{ isSignUp ? 'Already' : 'Don\'t' }} have an account? <span class="nunito-sans-bold" tabindex="0" (keydown)="onChangeForm($event)">{{ isSignUp ? 'Sign In' : 'Sign Up' }}</span></p>
  </form>
</div>