<div class="section-button-container">
  <button class="nunito-sans-bold manage-btn" (click)="onShowPopup(1)">Manage accounts</button>
  @if(popup === 1) {
    <div class="popup section-popup">
      <div class="popup-content">
        <p class="nunito-sans-bold popup-text" (click)="onOpenForm('savings')">savings</p>
        <hr class="popup-hr">
        <p class="nunito-sans-bold popup-text" (click)="onOpenForm('budget')">budget</p>
        <hr class="popup-hr">
        <p class="nunito-sans-bold popup-text" (click)="onOpenForm('goal')">goal</p>
      </div>
    </div>
  }
</div>
<div class="cards-container">
  <div class="card">
    <h1 class="nunito-sans-bold">SAVINGS</h1>
    <p class="nunito-sans-regular text">{{ savings }}</p>
    <div class="card-button-container">
      <button class="nunito-sans-bold show-btn" (click)="onShowPopup(2)">Show transactions</button>
      @if(popup === 2) {
        <div class="popup card-popup">
          <div class="popup-content">
            <p class="nunito-sans-bold popup-text" (click)="onShowTransfers('savings')">transfer</p>
            <hr class="popup-hr">
            <p class="nunito-sans-bold popup-text" (click)="onShowIncomes('savings')">income</p>
            <hr class="popup-hr">
            <p class="nunito-sans-bold popup-text" (click)="onShowExpenses('savings')">expense</p>
          </div>
        </div>
      }
    </div>
  </div>
  <div class="card">
    <h1 class="nunito-sans-bold">BUDGET</h1>
    <p class="nunito-sans-regular text">{{ budget }}</p>
    <div class="card-button-container">
      <button class="nunito-sans-bold show-btn" (click)="onShowPopup(3)">Show transactions</button>
      @if(popup === 3) {
        <div class="popup card-popup">
          <div class="popup-content">
            <p class="nunito-sans-bold popup-text" (click)="onShowTransfers('budget')">transfer</p>
            <hr class="popup-hr">
            <p class="nunito-sans-bold popup-text" (click)="onShowIncomes('budget')">income</p>
            <hr class="popup-hr">
            <p class="nunito-sans-bold popup-text" (click)="onShowExpenses('budget')">expense</p>
          </div>
        </div>
      }
    </div>
  </div>
  <div class="card">
    <h1 class="nunito-sans-bold">GOAL</h1>
    <div class="goal">
      <p class="nunito-sans-regular text">{{ goal }}</p>
      <hr class="card-hr">
      <p class="nunito-sans-regular text">{{ goalTarget }}</p>
    </div>
    <div class="card-button-container">
      <button class="nunito-sans-bold show-btn" (click)="onShowPopup(4)">Show transactions</button>
      @if(popup === 4) {
        <div class="popup card-popup">
          <div class="popup-content">
            <p class="nunito-sans-bold popup-text" (click)="onShowTransfers('goal')">transfer</p>
            <hr class="popup-hr">
            <p class="nunito-sans-bold popup-text" (click)="onShowIncomes('goal')">income</p>
            <hr class="popup-hr">
            <p class="nunito-sans-bold popup-text" (click)="onShowExpenses('goal')">expense</p>
          </div>
        </div>
      }
    </div>
  </div>
</div>
@if(formType === 'savings' || formType === 'budget' || formType === 'goal') {
  <div class="form-container">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <i class="fa-solid fa-xmark" (click)="onCloseForm()"></i>
      <div class="form-inputs">
        <label class="nunito-sans-semibold" for="balance">Balance</label>
        <input 
          class="nunito-sans-regular"
          type="number" 
          id="balance" 
          min="0"
          max="999999999"
          [(ngModel)]="balance" 
          name="balance"
          required>
        @if(formType === 'goal') {
          <label class="nunito-sans-semibold" for="target-balance">Target balance</label>
          <input 
            class="nunito-sans-regular"
            type="number" 
            id="target-balance" 
            min="0" 
            max="999999999"
            [(ngModel)]="targetBalance"
            name="targetBalance"
            required>
        }
      </div>
      <button type="submit" [disabled]="!form.valid" class="form-btn nunito-sans-bold">Save changes</button>
    </form>
  </div>
}
